/* $Id: style.css,v 1.3 2007/05/02 21:25:53 christop Exp $ */

@media screen {
	body {
		margin-top: 0;
		margin-bottom: 0;
		margin-left: 5em;
		margin-right: 5em;
		
		padding: 0;
	}
}

body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: black;
	background-color: white;
}

div.center, p.center {
	text-align: center;
}

table.center, table.center caption {
	margin: auto;
}

table th {
	background-color: #cfc;
}

table.border {
	border-collapse: collapse;
}

table.border, table.border td, table.border th {
	border: 2px solid #363;
}

table {
	caption-side: bottom;
}

table caption {
	color: #363;
}

h1, h2, h3, h4, h5, h6, table th {
	color: #363;
	font-variant: small-caps;
}

h1, h2, dl dt {
	background-color: #cfc;
	border: 1px solid #9c9;
}

dl {
	padding-left: 1em;
	padding-right: 1em;
}

dl dd {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

p:first-letter {
	font-size: large;
}

.warning {
	background-color: #fcc;
	border: 1px solid #c99;
}

/* link styles: remember LoVe/HAte :) */
a:link { color: #060; }
a:visited { color: #696; }
a:hover { color: #030; background-color: #cfc; }
a:active { color: #f00; }

acronym, abbr, .acronym, .abbr {
	border-bottom: 1px dotted black;
}

/* some programming code styles */

.code, code {
	border: 1px solid #9c9;
	background-color: #cfc;
	color: #000;
}

pre.code {
	padding: 0.5em;
}

/* comment */
.code .comment, code.comment {
	color: #696;
	font-style: italic;
}

/* directive */
.code .dir, code.dir {
	color: #006;
}

/* instruction/keyword */
.code .inst, .code .keyword, code.inst, code.keyword {
	font-weight: bold;
}

/* data type */
.code .type, code.type {
	color: #036;
	font-weight: bold;
}

/* register */
.code .reg, code.reg {
	color: #630;
}

/* identifier (variables, function names) */
.code .ident, code.ident {
	color: #000;
}

/* numeric constant */
.code .num, code.num {
	color: #060;
}

/* string constant */
.code .string, code.string {
	color: #060;
}

.footer {
	border-top: 1px solid black;
}

.cvs {
	color: #666; /* Satan?!</church_lady> */
	font-style: italic;
	font-size: 75%;
}
